<%= form_for(@state_race, :method => 'new', remote: request.xhr?, html: { data: { modal: true }}) do |f| %> 

<%= render(:partial => 'form', :locals => {:f => f}) %>
	<div>
		<% content_for :title do %>
    		Add State Race
		<% end %>
	</div>
	 <div class="modal-footer">
		 		<%= f.submit 'CREATE', :class => 'btn btn-primary'%> 

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	</div>
<% end %> 

</div>