<h1>Uploads#index</h1>
<p>Find me in app/views/uploads/index.html.erb</p>

<h1>Files</h1>


<%#

s3 = Aws::S3::Client.new(region: 'us-east-2') 
results = s3.list_objects(bucket: 'carbonlite', max_keys: 2) 

%>


<%# 

s3 = Aws::S3::Resource.new(
  region: 'us-east-2',
)
bucket =  s3.bucket('carbonlite')

%> 

<%#= bucket.objects.limit(10).each do |item| %> 

<p> 
<%#= "name: #{item.key}" %>  </p>

<p> 
<%#= "last updated: #{item.last_modified}" %>  </p>




<%# end %> 


